/* @import url("https://unpkg.com/@tailwindcss/typography@0.4.x/dist/typography.min.css"); */
@import url("https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css");
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300&family=Roboto:wght@100;400&family=Source+Code+Pro:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
@font-face {
  font-family: 'Cera Pro Medium';
  src: local('Cera Pro Medium'), url(./cera\ pro\ font/CeraProMedium.otf) format('opentype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: 'Cera Pro Light';
  src: local('Cera Pro Light'), url(./cera\ pro\ font/CeraProLight.otf) format('opentype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

body {
  /* font-family: 'BlinkMacSystemFont'!important; */
  /* font-family: 'Nanum Pen Script'!important; */
  font-family: 'Cera Pro Medium';
}
@font-face {
  font-family: "BlinkMacSystemFont", San Francisco;
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

.cursive {
  /* font-family: 'San Francisco', sans-serif; */
  /* font-family: "BlinkMacSystemFont", San Francisco; */
  /* font-weight: 700; */
  /* color: #e6f1ff; */
  /* color: #ccd6f6; */
  color: #fff;
}

.prose img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.heading-font {
  /* font-family: 'San Francisco', sans-serif; */
  font-family: "BlinkMacSystemFont", San Francisco;
  /* font-weight: bold; */
  color: #ff7170!important;
}

.header-logo {
  height: 70px;
}

#canvas {
  width: 100%;
  height: 55vh;
  margin-top: 100px;
  background-size: cover;
  margin: 0 auto;
  margin-bottom: 250px;
  margin-left: 40px;
}

.lazy-div {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.about-pic-box {
  margin-left: 5%;
  margin-right: 5%;
  display: flow-root;
  padding-top: 17%;
  width: 40%;
}

.box-transparent {
  margin: 0 auto;
}

.whittish {
  /* color: #e6f1ff; */
  /* color: #ccd6f6; */
  color: #fff;
  /* color: #F1514A; */
}

.srccode-font {
  /* font-family: 'San Francisco', monospace; */
  /* font-family: "BlinkMacSystemFont", San Francisco; */
  /* font-family: 'ui-monospace'; */
  font-size: 20px;
  font-weight: 100;
  font-weight: 300;
}

.bright {
  /* color: #3afcff; */
  /* color: #0dbc79; */
  /* color: #F1514A; */
  color: white;
}

.sec-color {
  /* color: #3afcff; */
  color: #0dbc79;
  /* font-family: 'San Francisco', sans-serif; */
  font-family: "BlinkMacSystemFont", San Francisco;
}

.pri-font {
  /* font-family: 'San Francisco', monospace; */
  font-family: "Nanum Pen Script", San Francisco;
  /* font-family: 'Cera Pro Light'; */
  letter-spacing: 1.5px;
  /* font-weight: bold; */
  font-size: 22px;
}

.pri-font:focus {
    outline: 2px dashed green;
    outline-offset: 3px;
    color: #3afcff;
}

.pri-font:hover {
  color: #3afcff;
}

.home-name {
  font-size: 90px;
  font-weight: bold;
  /* color: #fee998b3; */
  /* color: #00c8ff; */
}

.sub-heading {
  /* color: #a8b2d1; */
  /* color: #fff; */
  display: -webkit-inline-box;;
  font-size: 78px;
  font-weight: 900;
  font-family: "Nanum Pen Script", San Francisco;
  /* background: -webkit-linear-gradient(
-70deg, #ff7170 0%, #ffe57f 100%); */
  background: -webkit-linear-gradient(
-70deg, #a2facf 0%, #64acff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  margin-bottom: -20px;
}

.sub-heading span {
  z-index: -99;
  color: transparent;
   text-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.description {
  max-width: 550px;
  /* font-weight: 400; */
  word-break: break-word;
  margin-top: -40px;
}

.about-description {
  font-size: 28px;
  color: white;
  letter-spacing: 1px;
  /* font-weight: 200; */
  /* font-family: "BlinkMacSystemFont", San Francisco; */
  font-family: 'Cera Pro Light';
}

.about-display {
  display: block;
  margin: 0px auto;
  padding: 100px 0px;
  margin-right: 10%;
  width: 600px;
  margin-left: 20px;
}

.inner {
  font-size: 16px;
  color: white;
  letter-spacing: 1px;
  font-weight: 200;
  /* font-family: "BlinkMacSystemFont", San Francisco; */
  font-family: 'Cera Pro Light';
  padding: 30px;
  /* display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 50px; */
}

.contact-inner {
  font-size: 20px;
  color: white;
  letter-spacing: 1px;
  font-weight: 200;
  /* font-family: "BlinkMacSystemFont", San Francisco; */
  font-family: 'Cera Pro Light';
  padding: 30px;
  /* display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 50px; */
}

.inner p {
  margin: 0px 0px 15px;
}

.inner p:last-child, p:last-of-type {
  margin: 0px;
}

.about-me {
  font-size: 20px;
}

ul.skills-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  gap: 0px 10px;
  padding: 0px;
  margin: 20px 0px 0px;
  overflow: hidden;
  list-style: none;
}


.content-main-dad {
  display: flex;
  padding-left: 10vh;
  padding-right: 10vh;
}

.header-container {
  margin-left: 10%;
  display: flex;
  margin-top: 15vh;
}

.content-box {
  display: flex;
}

.content {
  margin-top: 3vh;
  margin-right: 4vh;
  float: left;
  font-family: 'Cera Pro Medium'!important;
}

.lottie-main {
  margin-left: 2vh;
  margin-right: 15vh;
  display: block;
}

.button-box {
  display: block;
  text-align: center;
}

.box-content {
  margin-left: 30vh;
  margin-top: 20vh;
}











.heading-project {
  /* font-size: 38px!important;
  font-family: 'Cera Pro Medium'!important; */
  background: -webkit-linear-gradient(
      -70deg, #a2facf 0%, #64acff 100%)!important;
  -webkit-background-clip: text!important;
  background-clip: text!important;
  -webkit-text-fill-color: transparent!important;
}

.heading-project::after {
  content: "";
  display: inline-block;
  position: relative;
  top: -20px;
  width: 250px;
  height: 1px;
  margin-left: 20px;
  background-color: #a8b2d1;
}

.heading-about{
  /* font-size: 50px!important;
  font-weight: 600!important; */
  background: -webkit-linear-gradient(
      -70deg, #ff7170 0%, #64acff 100%)!important;
  -webkit-background-clip: text!important;
  background-clip: text!important;
  -webkit-text-fill-color: transparent!important;
  }
  
  .heading-about::after {
    content: "";
    display: inline-block;
    position: relative;
    top: -20px;
    width: 200px;
    height: 1px;
    margin-left: 20px;
    background-color: #a8b2d1;
  }

.heading-skills {
  /* font-size: 50px!important;
  font-weight: 600!important; */
  background: -webkit-linear-gradient(
-70deg, #ff7170 0%, #ffe57f 100%)!important;
  -webkit-background-clip: text!important;
  background-clip: text!important;
  -webkit-text-fill-color: transparent!important;
}

.heading-skills::after {
  content: "";
  display: inline-block;
  position: relative;
  top: -20px;
  width: 350px;
  height: 1px;
  margin-left: 20px;
  background-color: #a8b2d1;
}

.education-description {
  display: block;
  margin: 5px;
  padding-top: 20px;
  /* background-color: #b8e5d3; */
  /* background-image: url('https://awv3node-homepage.surge.sh/build/assets/bash.svg'); */
  /* background-repeat: no-repeat; */
  width: 700px;
  /* background-size: contain; */
  /* background-position: center; */
  max-width: 760px;
  font-size: 20px;
  color: white;
  letter-spacing: 1px;
  font-weight: 200;
  /* font-family: "BlinkMacSystemFont", San Francisco; */
  font-family: 'Cera Pro Light';
}

.heading-education {
  /* font-size: 50px!important;
  font-weight: 600!important; */
  background: -webkit-linear-gradient(
-70deg, #ffe57f 0%, #64acff 100%)!important;
  -webkit-background-clip: text!important;
  background-clip: text!important;
  -webkit-text-fill-color: transparent!important;
}

.heading-education::after {
  content: "";
  display: inline-block;
  position: relative;
  top: -20px;
  width: 350px;
  height: 1px;
  margin-left: 20px;
  background-color: #a8b2d1;
}

.education-data-heading {
  /* background-image: linear-gradient(
    90deg, rgb(37, 47, 255) -100%, rgb(37, 106, 243) -50%, rgb(124, 192, 226) 0%, rgb(37, 106, 243) 50%, rgb(37, 47, 255) 100%); */
    -webkit-text-fill-color: transparent; 
    /* background-image: linear-gradient(to right, #237A57 30%, #093028 70%); */
    background-image: linear-gradient(to right, #db469f 0%, #2188ff 100%);
    -webkit-background-clip: text;
    font-size: 34px;
    line-height: 1.2105263158;
    font-weight: 600;
    letter-spacing: .012em;
}

.education-data-degree {
  float: left;
  color: white;
  font-size: 24px;
  letter-spacing: 1px;
  font-weight: 200;
  /* font-family: "BlinkMacSystemFont", San Francisco; */
  font-family: 'Cera Pro Light';
}

.education-data-dates {
  float: right;
  color: #a1a1a6;
  font-size: 24px;
}

.education-place {
  font-size: 20px;
  line-height: 1.2353641176;
  /* font-weight: 500; */
  letter-spacing: -0.022em;
  /* color: #86868b; */
  color: white;
}

.education-gpa {
  color: #a1a1a6;
  font-size: 14px;
  line-height: 1.4705882353;
  font-weight: 100;
  letter-spacing: -0.022em;
}

.skills-data-heading {
  font-size: 34px!important;
  line-height: 1.2105263158;
  font-weight: 600;
  letter-spacing: .012em;
  background-image: linear-gradient(to right, #db469f 0%, #2188ff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 1px;
  font-weight: 100;
  /* font-family: "BlinkMacSystemFont", San Francisco; */
  font-family: 'Cera Pro Light';
}

.skills-data-degree {
  float: left;
  color: #ffffff;
  white-space: pre-wrap;
  font-size: 20px!important;
  /* font-family: "BlinkMacSystemFont", San Francisco; */
  font-family: 'Cera Pro Light';
  letter-spacing: 1px;
  font-weight: 100;
}

.skills-description {
  display: block;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  background: none;
  width: 550px;
  max-width: 760px;
}

.skills-display {
  display: block;
  /* font-family: 'Nanum Pen Script'!important; */
  font-family: 'Cera Pro Light'!important;
  margin-right: 5%;
  /* margin-top: 40px; */
  margin-bottom: 20px;}

.bar-mask {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  height: 6px;
  z-index: 1;
}

.badge {
  margin-right: 2em;
  box-sizing: border-box;
  display: inline-block;
  font-size: 20px;
  min-width: 5em;
  position: relative;
  z-index: 1;
  color: #1d1d1f;
}

.badge .badge-content {
  position: relative;
  z-index: 1;
  color: #86868b;
}

.bar {
  width: 30%;
  background: linear-gradient(
45deg,#ff9fe1,#8727ff);
transform: matrix(1, 0, 0, 1, 0, 0);
  opacity: 1;
  height: 100%;
  transform-origin: left;
  border-radius: inherit;
}

.heading {
  font-size: 70px!important;
  font-weight: 600!important;
  -webkit-background-clip: text!important;
  background-clip: text!important;
  -webkit-text-fill-color: transparent!important;
  font-size: 78px;
  font-weight: 900;
  font-family: "Nanum Pen Script", San Francisco;
}

#btn-contact {
  font-size: 26px;
  -webkit-background-clip: text!important;
  background-clip: text!important;
  font-weight: 100;
  font-family: "Nanum Pen Script", San Francisco;
}

#btn-contact:hover {
  z-index: 0;
  color:transparent;
}

.heading-experience {
  /* font-size: 50px!important;
  font-weight: 600!important; */
  background: -webkit-linear-gradient(
-70deg, #a2facf 0%, #64acff 100%);
  -webkit-background-clip: text!important;
  background-clip: text!important;
  -webkit-text-fill-color: transparent!important;
}

.heading-experience::after {
  content: "";
  display: inline-block;
  position: relative;
  top: -20px;
  width: 300px;
  height: 1px;
  margin-left: 20px;
  background-color: #a8b2d1;
}

.experience-tab {
  color: #59c8df!important;
  font-size: 18px!important;
  letter-spacing: 1px;
  font-weight: 200;
  /* font-family: "BlinkMacSystemFont", San Francisco; */
  font-family: 'Cera Pro Light';
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: #fff!important;
}

.experience-description {
  display: inline-block;
  margin: 5px;
  padding-top: 20px;
  color: #ffffff;
  white-space: pre-wrap;
  font-size: 18px!important;
  letter-spacing: 1px;
  font-weight: 200;
  /* font-family: "BlinkMacSystemFont", San Francisco; */
  font-family: 'Cera Pro Light';
  height: 300px;
  width: 500px;
  overflow: scroll;
}

.experience-data-heading {
  font-size: 34px!important;
  line-height: 1.2105263158;
  font-weight: 600;
  letter-spacing: .012em;
  background: -webkit-linear-gradient(
-70deg, #ffe57f 0%, #64acff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 1px;
  font-weight: 200;
  /* font-family: "BlinkMacSystemFont", San Francisco; */
  font-family: 'Cera Pro Light';
}

.experience-jobtitle {
  background: -webkit-linear-gradient(
    -70deg, #a2facf 0%, #64acff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;  
  font-size: 24px;
  letter-spacing: 1px;
  font-weight: 400;
  /* font-family: "BlinkMacSystemFont", San Francisco; */
  font-family: 'Cera Pro Light';
}


.experience-data-dates {
  float: right;
  color: #59c8df;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 200;
  /* font-family: "BlinkMacSystemFont", San Francisco; */
  font-family: 'Cera Pro Light';
}

.experience-place {
  font-size: 20px;
  line-height: 1.2353641176;
  font-weight: 500;
  letter-spacing: -0.022em;
  color: #59c8df;
  letter-spacing: 1px;
  font-weight: 200;
  float: left;
  /* font-family: "BlinkMacSystemFont", San Francisco; */
  font-family: 'Cera Pro Light';
}

.project-display {
  display: block;
  /* font-family: 'Nanum Pen Script'!important; */
  font-family: 'Cera Pro Light'!important;
  margin-right: 5%;
  /* margin-top: 40px; */
  margin-bottom: 20px;
}

.projects-grid {
  list-style: none;
  margin-top: 0px!important;
  padding: 0px;
  /* margin: 50px 0px 0px; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
  position: relative;
}

.project-individual {
  position: relative;
  cursor: default;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  visibility: visible;
  opacity: 1;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  border-radius: 2px;
  background: #0434565e;
  /* background: #112240; */
  /* box-shadow: 0 10px 30px -15px #020c1bb3; */
}

.project-individual:hover {
  background: #cb831596;
  cursor: pointer;
}

.project-inner {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  height: 100%;
  padding: 2rem1.75rem;
}

.project-inner:focus-within  {
  transform: translateY(-7px);
}

.project-top {
  display: flow-root;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 15px;
  color: white; 
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 400;
  /* font-family: "BlinkMacSystemFont", San Francisco; */
  font-family: 'Cera Pro Light';
}

.project-title {
  margin: 0 px 0 px 10px;
}

.project-description {
  /* color: #ccd6f6; */
  color: #ffffff;
  white-space: pre-wrap;
  font-size: 14px!important;
  letter-spacing: 1px;
  font-weight: 200;
  /* font-family: "BlinkMacSystemFont", San Francisco; */
  font-family: 'Cera Pro Light';
}
 .project-tech-list {
  display: flex;
  align-items: flex-end;
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-wrap: wrap;
  padding: 0px;
  margin: 20px 0 px 0 px;
  list-style: none;
  /* font-family: "BlinkMacSystemFont", San Francisco; */
  font-family: 'Cera Pro Light';
  font-size: 10px!important;
  justify-content: space-evenly;
  color: #a8b2d1;
}

.contact-btn {
  /* border-color: #3bf0e4; */
  /* position: absolute; */
  /* margin-top: 45%; */
}

.nav_item_active {
  color: #ffe57f;
}

.contact-btn:hover {
  /* background: -webkit-linear-gradient(
    -70deg, #3bf0e4 0%, #bca1f7 100%); */
    border: black;
}

html, body { height: 100% }

body {
  /* display: flex;
  align-items: center; */
  /* background: radial-gradient(at 85% 55%,#082754 0%, #040e21 40%); */
  /* background:-webkit-linear-gradient( 
    -70deg, #136a8a 0%, #267871 100%); */
  /* background:-webkit-linear-gradient( 
    -40deg, #240b36 0%, #c31432  100%); */
    /* background: -webkit-linear-gradient( -40deg, #240b36 0%, #c31432  100%); */
    /* font-family: 'ui-monospace'!important; */
  background-color: #1C0F55;
}

.light-gray {
  color: #8193b2;
}
.hOvuuP {
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: 40px;
  right: auto;
  z-index: 10;
  color: #a8b2d1;
}

.dVLQAC {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.dVLQAC li a {
  padding: 10px;
}

.dVLQAC li a svg {
  width: 20px;
  height: 20px;
}

.dVLQAC::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
  background-color: #a8b2d1;
}

.jSIwrL {
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: auto;
  right: 40px;
  z-index: 10;
  color: #a8b2d1;
}

.jJFfEJ a {
  margin: 20px auto;
  padding: 10px;
  /* font-family: 'San Francisco', monospace; */
  /* font-family: "BlinkMacSystemFont", San Francisco; */
  font-family: 'Nanum Pen Script'!important;
  font-size: 24px!important;
  font-size: var(--fz-xxs);
  line-height: var(--fz-lg);
  letter-spacing: 0.1em;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}

.jJFfEJ::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
  background-color: #a8b2d1;
}

svg.feather {
  fill: none;
}


.container {
  max-width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  /* background-color: #0a192f; */
  /* background-color: #00162d; */
  /* #fff; */
  /* box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02); */
  /* background: #001f4112; */
  /* box-shadow: rgb(2 12 27 / 20%) 0px 10px 30px -10px; */
  z-index: 99;
  /* backdrop-filter: blur(20px); */
  transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
}


.home-pic-box {
  display: none;
  width:80%;
  min-width: 550px;
  margin: 0 auto;
  /* padding: 20px; */
  margin-left: -20px;
  /* transform: rotate(45deg); */
  /* margin-top:-50px; */
}

.education-pic-box {
    margin-left: 30px;
    width: 600px;
}

.skills-pic-box {
  margin-left: 5px;
  display: flow-root;
  padding-top: 3%;
}

.project-pic-box {
  margin-left: 5px;
  display: flow-root;
  padding-top: 3%;
  /* width: 40%; */
  /* width: 500px; */
}

.background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.css-35zqo5-MuiTabs-root {
  overflow: unset!important;
}

.css-f7gkvu {
  background: none!important;
    margin-right: 15px;
    margin-left: 15%;
}

*{
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}


.cursor-dot,
.cursor-dot-outline {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease-in-out,
                transform 0.3s ease-in-out;
}

.cursor-dot {
    width: 8px;
    height: 8px;
    background-color: #dc5656;
}

.cursor-dot-outline {
    width: 40px;
    height: 40px;
    background-color: rgba(mix(white, #dc5656, 25%), 0.5);
}

/* html,
body 
    * {
        cursor: none;        
} */

@keyframes move_wave {
  0% {
      transform: translateX(0) translateZ(0) scaleY(1)
  }
  50% {
      transform: translateX(-25%) translateZ(0) scaleY(0.55)
  }
  100% {
      transform: translateX(-50%) translateZ(0) scaleY(1)
  }
}
.waveWrapper {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  display: contents;
}
.waveWrapperInner {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 100%;
  bottom: -1px;
  /* background-image: linear-gradient(to top, #86377b 20%, #27273c 80%); */
}
.bgTop {
  z-index: 15;
  opacity: 0.5;
}
.bgMiddle {
  z-index: 10;
  opacity: 0.75;
}
.bgBottom {
  z-index: 5;
}
.wave {
  position: absolute;
  left: 0;
  width: 200%;
  height: 100%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
}
.waveTop {
  background-size: 50% 100px;
}
.waveAnimation .waveTop {
animation: move-wave 3s;
 -webkit-animation: move-wave 3s;
 -webkit-animation-delay: 1s;
 animation-delay: 1s;
}
.waveMiddle {
  background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
  animation: move_wave 10s linear infinite;
}
.waveBottom {
  background-size: 50% 100px;
}
.waveAnimation .waveBottom {
  animation: move_wave 15s linear infinite;
}

:root {
	--sunset: #cae5f7;
}

pappu {
	position: fixed;
	bottom: 2rem;
	width: 100%;
	text-align: center;
	font-family: sans-serif;
	opacity: 0.8;
}

#parallax {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80vw;
	max-width: 700px;
	background: #182f3e;
	border: solid 1px #c5cace;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
		rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
	border-radius: 4px;
}

@media only screen and (max-width: 600px) {

  #mainherobg, #aboutbg, #projectsbg, #experiencebg, #educationbg, #contactbg {
  height: 100vh;}

#mainherobg {
  width: 166vh;
}

  .main-container{
    margin: unset!important;
    width: 100%;
    min-height: 100vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 2vh;
  }

  .header-container {
    margin: unset;
    display: flex;
    margin-top: 5vh;
  }

  .lottie-container {
    display: none;
  }

  .heading {
    font-size: 50px!important;
  }

  .heading::after {
    top: -40px;
  }

  .lazy-div {
    display: block;
    justify-content: space-evenly;
    align-items: center;
}
  .content-main-dad {
    display: grid;
    padding: unset;
  }

  .content-box {
    display: unset;
  }

  .lottie-main {
    /* margin: unset; */
    display: none;
  }

  .content {
    margin: unset;
  }

  #aboutAnim {
    width: 30vh!important;
  }

  .about-description {
    font-size: 22px;
  }

  .sub-heading {
    font-size: 34px;
    display: unset;
  }

  .description {
    word-spacing: 2px;
    margin: unset;
    margin-bottom: 15%;
  }

  .nav-right{
    display: none;
  }
  /* #mainHero { */
    /* display: flex; */
    /* display: inline-block!important;
    padding: unset;
    margin: unset; */
    /* height: 100vh!important; */
  /* } */
  #logoLottie{
    width: 20vh!important;
    margin: unset;
  }
  .heading-font {
    /* height: 40px; */
    display: block;
  }
  #heroAnim {
    width: max-content;
    height: 100vh!important;
  }
  nav {
    padding: unset;
    margin-left: -20px;
  }
  .box-content{
    margin: unset;
    margin-top: 20vh;
  }

  /* .container{ */
    /* height: 20vh; */
  /* } */
 
  .home-name {
    font-size: 50px;
  }

  #webAnim, .dVLQAC, .jJFfEJ {
    display: none;
  }

  .contact-btn {
    position: unset;
    margin: unset;
    /* top: 195vw; */ 
  }

  .button-box {
    display: block;
    text-align: center;
  }

  /* about section  */
  #aboutbg {
    height: 100vh!important;
    width: max-content;
  }

  .about-pic-box {
    display: block;
    margin: 0px auto;
    padding: 0px;
    width: max-content;
    margin-top: 20vw;
    /* margin-bottom: 5%; */
  }
  .about-heading {
    margin: unset;
    font-size: 10vw;
  }
  .about-heading::after {
    display: none;
  }
  #userAnim {
    display: none;
  }
  .about-display {
    margin: 0 auto;
    padding: unset;
    width: auto;
    margin-top: 4vw;
    margin-bottom: 4vw;
  }
  .inner {
    margin: unset;
    padding: unset;
  }

  /* .button-box {
    margin-top: 10%;
  } */

  .about-me{
    font-size: 4.2vw;
  }
  #canvas {
    display: none;
  }

  /* experience section  */
  #experiencebg {
    height: 100vh!important;
    width: max-content;
  }
  #experience {
    display: inline-block!important;
  }
  .experience-header-container {
    text-align: center;
  }
  .experience-pic-box {
    display: block;
    margin: 0px auto;
    padding: 0px;
    width: max-content;
  }
  .experience-heading {
    margin: unset;
    margin-top: 25vw;
    margin-bottom: 30px;
    font-size: 38px;
  }
  .experience-content-box {
    margin-bottom: 25vw;
  }

  .experience-place {
    display: block;
  }
  .experience-heading::after {
    display: none;
  }
  .css-f7gkvu {
    margin: unset!important;
  }
  .experience-tab, .experience-jobtitle, .experience-description, .experience-data-dates {
    font-size: 4.2vw!important;
  }
  .experience-data-heading {
    font-size: 20px!important;
  }
  .experience-data-dates {
    display: block;
  }
  .css-19kzrtu {
    padding: unset!important;
    padding-left: 10px!important;
    padding-right: 10px!important;
  }
  #vertical-tabpanel-0{
    height: 50%;
  }
  .experience-description{
    width: auto;
    height: 60vw;
  }
  #experienceAnim{
    display: none;
  }
  .experience-display {
    margin: 0 auto;
    padding: unset;
    width: auto;
    float: unset;
    margin-left: 20px;
    margin-right: 20px;
  }

    /* projects section  */
    #projectsbg {
      height: 100vh!important;
      width: max-content;
    }
    #projects {
      display: inline-block!important;
    }
    .project-pic-box {
      display: none;
      margin: 0px;
      padding: 0px;
      width: max-content;
    }
    .project-heading {
      margin: unset;
      margin-top: 25vw;
      margin-bottom: 30px;
      font-size: 38px;
    }
    .project-heading::after {
      display: none;
    }
    #userAnim {
      display: none;
    }
    .project-header-container {
      text-align: center;
      display: flex;
    }
    .project-content-box {
      margin-bottom: 10vw;
    }
    .project-display {
      margin: 0 auto;
      display: block;
      width: auto;
      margin-left: 20px;
      margin-right: 20px;
      padding: unset;
    }
    .projects-grid {
      height: 100vw;
      overflow: scroll;
    }

    /* skills section  */
  #skillsbg {
    height: 100vh!important;
    width: max-content;
  }
  #skills {
    display: inline-block!important;
  }
  .skills-pic-box {
    display: block;
    margin: 0px auto;
    padding: 0px;
    width: max-content;
  }
  .skills-header-container {
    text-align: center;
  }
  .skills-heading {
    /* display: contents; */
    margin: unset;
    margin-top: 25vw;
    /* margin-left: 15px; */
    /* margin-right: 15px; */
    margin-bottom: 30px;
    font-size: 38px;
  }
  .skills-heading::after {
    display: none;
  }
  #skillsAnim {
    display: none;
  }
  .skills-display {
    margin: 0 auto;
    display: block;
    /* margin-top: 30%; */
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: unset;
  }
  .skills-description{
    width: auto;
  }
  .skills-data-degree {
    font-size: 4.2vw!important;
    margin-bottom: 2vw!important;
  }
  .skills-data-heading {
    font-size: 6vw!important;
    margin-top: 2vw!important;
  }

  /* education section  */
  #educationbg {
    height: 100vh!important;
    width: max-content;
  }
  #education {
    display: inline-block!important;
  }
  .education-pic-box {
    display: block;
    margin: 0px auto;
    padding: 0px;
    width: max-content;
  }
  .education-header-container {
    text-align: center;
  }
  .education-heading {
    margin: unset;
    margin-top: 25vw;
    font-size: 38px;
  }
  .education-heading::after {
    display: none;
  }
  #secondLottie {
    display: none;
  }
  #schoolAnim{
    display: none;
  }
  #education-top-div{
    display: block;
  }
  .education-display {
    margin: 0 auto;
    display: block;
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: unset;
  }
  .education-description{
    width: auto;
  }
  .education-data-heading {
    font-size: 6vw!important;
    margin-bottom: 10px;
  }
  .education-gpa, .education-place, .education-data-degree, .education-data-dates {
    font-size: 4.2vw!important;
  }
  .education-data-dates {
    display: block;
  }
  .bar-mask {
    margin-top: -15px;
  }
}

/* utility color */
/* .text-gradient-mint-blue-dark {
  background: -webkit-linear-gradient(
-70deg, #a2facf 0%, #64acff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
} */

/* background:-webkit-linear-gradient( 
  -70deg, #2c3e50 0%, #4ca1af 100%); */

/* background: -webkit-linear-gradient(
-70deg, #ff7170 0%, #ffe57f 100%); */